<div class="container">
    <div class="row">
        <article role="main">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 sub-menu">
                       <h1><span class="icon-font">&#10003;</span>Notes</h1>
                       <%= link_to root_path, class: 'icon-font' do %> &#59229; <span>Back to dashboard</span><% end %>

                       <%= link_to new_note_path, class: 'icon-font' do %> &#8862; <span>New Note</span>
                           <% end %>  
                    </div> 
                </div>
            </div>



          <% if @notes.present? %>
              <% @notes.each do |note| %>
              
                  <div class="tasks col-md-6" id="<%= dom_id(note) %>">
                      <div class="padded">
                         <h2><%= note.title %></h2>
                         
                         <p class="created"> Created: <%= note.created_at.strftime("%d %b. %Y") %></p>
        

                         <ul>  
                            <li>
                              <%= link_to note, class: 'icon-font' do %>
                              &#57349;
                              <span>View tasks</span>
                              <% end %>
                            </li>
                            
                            <li>
                              <%= link_to edit_note_path(note), class: 'icon-font' do %>
                              &#9998;
                              <span>Edit</span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-font' do %>
                              &#59177;
                              <span>Delete</span>
                              <% end %>
                            </li>
                    
                          </ul>
                      </div>
                  </div>
                <% end %>
              <% else %>
               <div class="no-items">
                  You have no task lists. Create a <%= link_to 'new one.',new_note_path %>
                </div>
              </div>
            <% end %>

        </article>
    </div>
</div>
