<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @budget.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @budget.cost %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @budget.notes %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
