<div class="container">
  <div class="row">
    <article role="main">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
           <h1><span class="icon-font">&#10003;</span>Attendee list</h1>
          </div> 
          <div class="col-xs-12 col-sm-6 col-md-6 new">
           <%= link_to 'New Attendee', new_attendee_path %>
          </div> 
          <div class="col-xs-12 col-sm-12 col-md-12">
             
          </div>
        </div>
      </div>
       

<table class="table">
  <thead>
    <tr>
      <th width="25%">Name</th>
      <th width="25%">Email</th>
      <th width="15%">Money</th>
      <th width="35%">Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.email %></td>
        <td><%= attendee.money %></td>
        <td><%= attendee.notes %></td>
        <td><%= link_to 'Show', attendee %></td>
        <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
        <td><%= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


    </article>
  </div>
</div>
