<div class="container">
    <div class="row">
        <article role="main">

          <div class="col-md-12">
              <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 sub-menu">
                     <h1><span class="icon-font">&#128101;</span>Attendee list</h1>
                     <%= link_to root_path, class: 'icon-font' do %> &#59229; <span>Back to dashboard</span>
                     <% end %>

                     <%= link_to new_attendee_path, class: 'icon-font' do %> &#8862; <span>New attendee</span>
                     <% end %>  

                </div> 
              </div> 
        
              <ul class="sums">
                  <li>Total attendees = <span class="count"><%= @attendees.count %></span>  </li>
                  <li>Total money recieved = <span class="count"> £<%= @attendees.sum(:money) %></span> </li>
              </ul>

            <table class="table">
                <thead>
                  <tr>
                    <th width="20%">Name</th>
                    <th width="15%">Email</th>
                    <th width="10%">Money</th>
                    <th width="30%">Notes</th>
                    <th class="functions" width="25%">Functions</th>
                  </tr>
                </thead>

                <tbody>
                  <% @attendees.each do |attendee| %>
                    <tr>
                      <td><%= attendee.name %></td>
                      <td><%= attendee.email %></td>
                      <td>£<%= attendee.money %></td>
                      <td><%= attendee.notes %></td>

                      <td class="functions">
                        <%= link_to edit_attendee_path(attendee), class: 'icon-font' do %> &#9998; <span>Edit</span>
                        <% end %>

                        <%= link_to attendee, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-font' do %> &#59177; 
                        <span>Delete</span> 
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
            
          </div>

        </article>
    </div>
</div>
