<% provide(:title, 'My Events') %>

<div class="lw-header">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                     <h1><span class="icon-font">&#59190;</span>My Events</h1>             
                  </div> 
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul class="nav nav-tabs">
			  <li><%= link_to "Emma's hen", root_path %></li>
			  <li class="active"><%= link_to "My Events", my_events_path %></li>
			  <li><%= link_to messages_path do %>Messages<b> 1 new</b><% end %></li>
			</ul>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="container">
	    <div class="row">
	        <article role="main">
				<div class="col-xs-12 col-sm-12 col-md-12 my-events">

					<%= link_to create_path, class: 'btn btn-primary' do %>Create New Event<% end %>
					

					<div class="list-group">
						  <%= link_to root_path, class: 'list-group-item active' do %>
						    <h4 class="list-group-item-heading">Emma's hen</h4>
						    <p class="list-group-item-text">28th July 2014</p>
						  <% end %>
						  <a href="" class="delete">Delete</a>

						   <%= link_to root_path, class: 'list-group-item' do %>
						    <h4 class="list-group-item-heading">Kirsten Chapman's hen</h4>
						    <p class="list-group-item-text">12th September 2014</p>
						  <% end %>
						  <a href="" class="delete-two">Delete</a>

					</div>

				</div>

	        </article>
		</div>
	</div>
</div>

