<div class="lw-header">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                     <h1><span class="icon-font">&#8962;</span>Home</h1>
                       
                  </div> 
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
	<div class="row">
	<!--<div class="col-md-12">
		<div class="instructions">
			<p>Some welcome instructions etc</p>
		</div>
	</div>-->
	  <div class="col-xs-12 col-sm-7 col-md-7">
	  	<h3>Dashboard</h3>
			<ul class="dashboard">
				<li>
					<%= link_to task_lists_path, class: 'icon-font' do %>
					&#10003;
					<span>Tasks</span>
					<% end %>
				</li>
				<li>
					<%= link_to attendees_path, class: 'icon-font' do %>
					&#128101;
					<span>Attendees</span>
					<% end %>
				</li>
				<li>
					<%= link_to task_lists_path, class: 'icon-font' do %>
					&#10062;
					<span>Budgets</span>
					<% end %>
				</li>
				<li>
					<%= link_to task_lists_path, class: 'icon-font' do %>
					&#9993;
					<span>Discussions</span>
					<% end %>
				</li>
				<li>
					<%= link_to notes_path, class: 'icon-font' do %>
					&#128213;
					<span>Notes</span>
					<% end %>
				</li>
				<li>
					<%= link_to task_lists_path, class: 'icon-font' do %>
					&#59190;
					<span>Extras</span>
					<% end %>
				</li>
			</ul>
	  </div>
	  <div class="col-xs-12 col-sm-5 col-md-5 event_details">
	  	<h3>Event details</h3>
	  	<div class="padded">
		  	
		  	<p>Store your hen party details and share them with friends.</p>
		  	
		 	<form>
			  <label for="hen_name">Hen's name</label><input type="text" id="hen_name"><br/>
			  <label for="my_date">Date</label> <br/><input type="date" id="my_date"><br/>
			  <label for="accomm">Accommodation address</label><textarea id="accomm"></textarea><br/>
			  <input type="submit" value="Save">
			</form>


		</div>

			 <h4>Recent activity</h4>
			 <h4>Group members</h4>
	  </div>
	</div>
</div>
