<% provide(:title, 'Dashboard') %>

<div class="lw-header">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                     <h1><span class="icon-font">&#8962;</span>Dashboard</h1>
                       
                  </div> 
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul class="nav nav-tabs">
			  <li class="active"><%= link_to "Emma's hen party", root_path %></li>
			  <li><%= link_to "My Events", my_events_path %></li>
			  <li><%= link_to messages_path do %>Messages<b> 1 new</b><% end %></li>
			</ul>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="container">
	<div class="row">
		<article role="main">
	
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="panel panel-default  group">
				  <p class="panel-heading head"><span class="icon-font">&#128101;</span> Group Members</p>
				  <div class="panel-body">
					<%= link_to image_tag("members/m1.jpg", :alt => "member", size: "83"), root_path %>
					<%= link_to image_tag("members/m2.jpg", :alt => "member", size: "83"), root_path %>
					<%= link_to image_tag("members/m3.jpg", :alt => "member", size: "83"), root_path %>
					<%= link_to image_tag("members/m4.jpg", :alt => "member", size: "83"), root_path %>
					<%= link_to image_tag("members/m5.jpg", :alt => "member", size: "83"), root_path %>
					<%= link_to root_path, class: 'icon-font btn btn-primary' do %>&#59136;<% end %>
				  </div>
				</div>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="panel panel-default">
				  <p class="panel-heading head"><span class="icon-font">&#128197;</span>125 days until Emma's hen party! </p>
				  <div class="panel-body">
				    <div class="event_details">
						
						<p><span class="date">28th</span> <br/><span class="month">July 2014</span></p>
					</div>
					<div class="event_details">
						<p class="address">Address<br/>6 South Street, Bournemouth, BH71 7HS</p>
						<%= link_to root_path, class: 'btn btn-primary' do %>Update<% end %>
						<a href="" class="email"><span class="icon-font">&#59157;</span>Send by Email</a>	
					</div>
					<div class="event_details">
											
					</div>
				  </div>
				</div>
			</div>



			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="panel panel-default">
				  <p class="panel-heading head"><span class="icon-font">&#128101;</span>Attendees </p>
				  <div class="panel-body">
				    <p class="total"><%= att_total %> <span class="caption">Total guests</span></p>
				 	<%= link_to attendees_path, class: 'icon-font' do %>
						<span>View Attendees</span>
						&#59230;
					<% end %>
				  </div>
				</div>
			</div>


		
			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="panel panel-default">
				  <p class="panel-heading head"><span class=" icon-font">&#10062;</span> Budgets </p>
				  <div class="panel-body">
				    <div class=" budgets"><%= image_tag("budgets.jpg") %></div>
						<%= link_to budgets_path, class: 'icon-font' do %>
							<span>View Budgets</span>
							&#59230;
						<% end %>
				  </div>
				</div>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="panel panel-default">
				    <p class="panel-heading head"><span class="icon-font">&#128278;</span> Resources &amp; Suppliers - My Bookmarks </p>
				    <div class="panel-body">
					  	<p class="bg-info">Hen sash and L plates | £7.99
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<span class="icon-font">&#59146;</span>
						</p>
						<p class="bg-warning">10 best cocktail recipes. 01/04/2014
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<span class="icon-font">&#59146;</span>
						</p>
						<p class="bg-info">Mr &amp; Mrs game template. 14/03/2014
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<span class="icon-font">&#59146;</span>
						</p>
						<%= link_to task_lists_path, class: 'icon-font' do %>
							<span>All Resources &amp; Suppliers</span>
							&#59230;
						<% end %>
					</div>
				</div>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="panel panel-default">
					 <div class="panel-heading">
					    <p class="panel-title head"><span class="icon-font">&#10003;</span>Task Lists</p>
					  </div>
					  <div class="panel-body">
					    <% @task_lists.each do |task_list| %>
						    <div class="well well-sm">
						    	<%= task_list.title %><button type="button" class="close" aria-hidden="true">&times;</button>
						    	<%= link_to task_list_task_items_path(task_list), class: 'icon-font view' do %>
                                &#57349;
                                <span>View tasks</span>
                                <% end %>
						    </div>
					    <% end %>
					     <%= link_to task_lists_path, class: 'icon-font' do %>
							<span>All Task Lists</span>
							&#59230;
						<% end %>	
					 </div> 
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <p class="panel-title head"><span class="icon-font">&#10078;</span>Activity </p>
				  </div>
				  <div class="panel-body">
	                <ul class="media-list">
					  <li class="media">
					    <a class="pull-left" href="#">
					      <%=  image_tag("members/m3.jpg", :alt => "member", size: "60") %>
					    </a>
					    <div class="media-body">
					      <p><a href="">Lottejackson</a> added 5 tasks to the <a href="">Music</a> task list. <br/><span class="date-small">2 hours ago. </span> </p>
					    </div>
					  </li>
					   <li class="media">
					    <a class="pull-left" href="#">
					      <%=  image_tag("members/m1.jpg", :alt => "member", size: "60") %>
					    </a>
					    <div class="media-body">
					      <p><a href="">Kirsten</a> added 2 items to the <a href="">Budget</a> list.<br/> <span class="date-small">2 hours ago. </span> </p>
					    </div>
					  </li>

					</ul>
				  </div>
				</div>
			</div>


		</article>
	</div>
</div>

</div><!--wrapper-->
