<% if @task_item.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@task_item.errors.count, "error") %> prohibited this task item from being saved:</h2>

	  <ul>
	    <% @task_item.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
<% end %>


<%= form.label :content %><br/>
<%= form.text_field :content %>
<br/>
<%= form.submit "Save" %>
<br/>
<%= link_to task_list_task_items_path, class: 'icon-font' do %> &#59229; <span>Back to task lists</span><% end %>