<% provide(:title, 'Task Items') %>

<div class="lw-header">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                     <h1><span class="icon-font">&#10003;</span><%= @task_list.title %></h1>       
                  </div> 
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container">
    <div class="row">
        <article role="main">

        	<div class="col-md-12">
	            <div class="row">
	              <div class="col-xs-12 col-sm-12 col-md-12 sub-menu">
	              	 
                   <%= link_to task_lists_path, class: 'icon-font' do %> &#59229; <span>Back to Task Lists</span>
                   <% end %>

                   <%= link_to new_task_list_task_item_path, class: 'icon-font left' do %> &#8862; <span>New task</span>
                   <% end %>  
  	            </div>
            	</div>

            <table class="table task_items">
                <thead>
                  <tr>
                    <th width="25%">Completed?</th>
                    <th width="50%">Content</th>
                    <th width="25%" class="functions">Functions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @task_list.task_items.each do |task_item| %>
                    <tr id="<%= dom_id(task_item) %>">
                        <td>
                          <% if task_item.completed? %>
                            <%= task_item.completed_at %>
                          <% else %>
                            <%= link_to "Mark Complete", complete_task_list_task_item_path(task_item), method: :patch %>
                          <% end %>
                        </td>
                        <td><%= task_item.content %></td>
                        <td class="functions">
                          <%= link_to edit_task_list_task_item_path(task_item), class: 'icon-font' do %> &#9998; <span>Edit</span>
                          <% end %>

                          <%= link_to task_list_task_item_path(task_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-font' do %> &#59177; 
                          <span>Delete</span> 
                          <% end %>
                        </td>
                  </tr>
                <% end %>
            </tbody>
         </table>

       </div>

    </article>
  </div>
</div>

