<div class="container">
    <div class="row">
        <article role="main">
          <div class="col-md-12">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
               <h1><span class="icon-font">&#10003;</span>Task Lists</h1>
              </div> 
              <div class="col-xs-12 col-sm-6 col-md-6 new">
               <%= link_to 'New Task list', new_task_list_path %>
              </div> 
            </div>
          </div>

            <% if @task_list.present? %>
              <% @task_lists.each do |task_list| %>
              
                  <div class="tasks col-md-6" id="<%= dom_id(task_list) %>">
                      <div class="padded">
                         <h2><%= task_list.title %></h2>
                         
                         <p class="created"> | Created: <%= task_list.created_at.strftime("%d %b. %Y") %></p>
                             <%if task_list.description.present? %>
                               <p>Description: <%= task_list.description %></p>
                             <%end%>

                         <ul>  
                            <li>
                              <%= link_to edit_task_list_path(task_list), class: 'icon-font' do %>
                              &#9998;
                              <span>Edit</span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to task_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-font' do %>
                              &#59177;
                              <span>Delete</span>
                              <% end %>
                            </li>
                            <li>
                              <td><%= link_to 'List Items', task_list_task_items_path(task_list) %></td>
                            </li>
                          </ul>
                      </div>
                  </div>
                <% end %>
              <% else %>
                  You have no task lists. Create a <%= link_to 'new one.',new_task_list_path %>
            <% end %>
              
        </article>
    </div>
</div>



