<div class="container">
    <div class="row">
        <article role="main">
          <div class="col-md-12">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 sub-menu">
               <h1><span class="icon-font">&#10003;</span>Task Lists</h1>
               <%= link_to root_path, class: 'icon-font' do %> &#59229; <span>Back to dashboard</span><% end %>

               <%= link_to new_task_list_path, class: 'icon-font' do %> &#8862; <span>New task list</span>
                   <% end %>  
              </div> 
            </div>
          </div>

            <% if @task_lists.present? %>
              <% @task_lists.each do |task_list| %>
              
                  <div class="tasks col-md-6" id="<%= dom_id(task_list) %>">
                      <div class="padded">
                         <h2><%= task_list.title %></h2>
                         
                         <p class="created">Assigned to: <%= User.find(task_list.user_id).username %> | Created: <%= task_list.created_at.strftime("%d %b. %Y") %></p>
                             <%if task_list.description.present? %>
                               <p>Description: <%= task_list.description %></p>
                             <%end%>

                         <ul>  
                            <li>
                              <%= link_to task_list_task_items_path(task_list), class: 'icon-font' do %>
                              &#57349;
                              <span>View tasks</span>
                              <% end %>
                            </li>
                            
                            <li>
                              <%= link_to edit_task_list_path(task_list), class: 'icon-font' do %>
                              &#9998;
                              <span>Edit</span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to task_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-font' do %>
                              &#59177;
                              <span>Delete</span>
                              <% end %>
                            </li>
                    
                          </ul>
                      </div>
                  </div>
                <% end %>
              <% else %>
               <div class="no-items">
                  You have no task lists. Create a <%= link_to 'new one.',new_task_list_path %>
                </div>
              </div>
            <% end %>
              
        </article>
    </div>
</div>



