<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7">	
				<div class="logo"><h1><%= link_to "Henplan", root_path %></h1></div>
				<p><span class="count">125</span> days until Emma's hen party!</p>
			</div>

			<div class="col-xs-12 col-sm-5 col-md-5">
				<nav>
					<ul class="loggedin">
						<li><%= link_to "Log out", logout_path, class: "btn btn-primary" %></li>	
						<li><%= link_to root_path, class: 'icon-font btn btn-primary' do %>&#10067;<% end %></li>
						<li><%= link_to root_path, class: 'icon-font btn btn-primary' do %>&#128276;<% end %></li>				
						<li></li>	
						<li><%= link_to root_path, class: 'icon-font btn btn-primary' do %>&#8962;<% end %></li>
						<li><%= link_to edit_user_registration_path, class: 'icon-font btn btn-primary' do %>&#9881; <span><%= current_user.username %></span><% end %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
